/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/variable/Montserrat.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/variable/Montserrat-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

/* OpenSans */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/variable/OpenSans.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/variable/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}